/* ============================================
================= IMPORTS =================
============================================ */
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@500&family=Rubik&family=Syne+Tactile&display=swap");
@import "./functions";

/* =======================================
================= SETTINGS ==============
=========================================== */

/* =============== COLORS ===============
========================================== */

/* =========== Plain Colors ================= */
$white: #ffffff;
$black: #000;
$dark-blue: #004b99;
$azure: #f0ffff;
$slate-grey: #708090;
$mild-violet: #9296f0;
$red: #dd0000;

/* ============== Contextual Colors ================ */
/* === Background and Foreground  === */
$primary-bg-color: $azure;
$primary-fg-color: $dark-blue;
$secondary-fg-color: $mild-violet;
$btn-bg-color: $slate-grey;

/* ========== Text  ============ */
$title-color: $white;
$secondary-heading-color: $white;
$menu-icons-color: $white;
$p-txt-color: $black;
$input-txt-color: $black;
$btn-txt-color: $white;
$btn-bg-color: $mild-violet;
$warnings-txt: $red;

/* ========== Misc  ============ */
$bg-border: $dark-blue;
/* =============== Fonts ================
=========================================*/
/* === Plain Fonts === */
$mukta: "Mukta", sans-serif;
$rubik: "Rubik", sans-serif;
$syne-tactile: "Syne Tactile", cursive;

/* === Contextual Fonts === */
$heading-font: $rubik;
$txt-font: $mukta;
$button-font: $syne-tactile;

/* =============== LISTS ===============
========================================== */
$breakpoints: px-rem(480), px-rem(768), px-rem(1024), px-rem(1400);
// Font sizes
$title-font-sizes: px-rem(28), px-rem(30), px-rem(32), px-rem(34);
$text-sizes: px-rem(16), px-rem(18), px-rem(20), px-rem(20);
// Box sizes
$login-width-sizes: 80%, 60%, 45%, 35%;
$container-width-sizes: 90%, 85%, 65%, 50%;
$sidebar-width-sizes: 55%, 45%, 17.5%, 25%;
$form-elements-padding-sizes: px-rem(10), px-rem(12), px-rem(13), px-rem(15);
$box-elements-padding-sizes: px-rem(10), px-rem(12), px-rem(13), px-rem(15);
$header-icon-sizes: px-rem(20), px-rem(22), px-rem(24), px-rem(28);
